* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}
.bgimg {
  background-image: url(Images/marilia-castelli-wafnDgZU66k-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.bgtext {
  font-size: 50px;
  color: white;
  position: absolute;
  top: 20%;
  left: 15%;
}

.work {
  font-size: 50px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 40px 0px;
}

.service-container{display: flex; justify-content: center; padding: 80px; gap: 300px;}
.service {
  height: 500px;
  width: 400px;
  box-shadow: 2px 2px 15px gray;
  border-radius: 20px;
}
.web-text{margin-left: 10px; margin-top: 0px; text-align: justify; margin-right: 10px; padding: 10px 20px 50px; }
.service img {
  height: 45%;
  border-radius: 20px 20px 0 0;
  width: 100%;
}

.row:after{content: ''; display: block; clear: both;}
.cols50{width: 50%; height: 200px; float: left; color: white; }
.cols50 h1{font-size: 40px; margin-bottom: 20px; margin-left: 30px; margin-top: 30px; }
.cols50 p{margin-left: 30px; }